[submodule "modules/clconfig"]
	path = modules/clconfig
	url = git@github.com:anselmes/config.git
[submodule "modules/clutil"]
	path = modules/clutil
	url = git@github.com:anselmes/toolchain.git
[submodule "templates"]
	path = templates
	url = git@github.com:anselmes/templates.git
[submodule "core"]
	path = core
	url = git@github.com:anselmes/ip.git
