[submodule "modules/coreconfig"]
	path = modules/coreconfig
	url = git@github.com:anselmes/config.git
[submodule "modules/coreutil"]
	path = modules/coreutil
	url = git@github.com:anselmes/toolchain.git
[submodule "templates"]
	path = templates
	url = git@github.com:anselmes/templates.git
[submodule "core"]
	path = core
	url = git@github.com:anselmes/ip.git
[submodule "lib/corelib"]
	path = lib/corelib
	url = git@github.com:anselmes/project-eitry.git
