#export CLOUDFLARE_API_TOKEN=""
#export CLOUDFLARE_EMAIL=""

#export METALLB_ADDRESS_RANGE=xxx.xxx.xxx.240-xxx.xxx.xxx.254

#export FEATURE_GATES=tls
#export DEPLOY_SEPARATE_PLACEMENT=yes

#export SITE=""
#export DOMAIN=""
#export OSH_FQDN=${SITE}.${DOMAIN}

#export CREATE_LOOPBACK_DEVICES_FOR_CEPH=false
#export CEPH_OSD_DATA_DEVICE=/dev/sdb
#export CEPH_OSD_DB_WAL_DEVICE=/dev/sdc

#export VAULT_ADDR=https://vault.${OSH_FQDN}
#export VAULT_TOKEN=""

#export VAULT_TRANSIT_PATH=auth/transit

#export KASTEN_EULA_COMPANY=${OSH_SITE}
#export KASTEN_EULA_EMAIL=administrator@${DOMAIN}

#export S3_ENDPOINT=https://radosgw.${OSH_FQDN}
#export S3_INTERNAL_ENDPOINT=https://radosgw.openstack.svc.cluster.local
#export S3_PROJECT_ID=""
#export S3_USER_ID=""
#export S3_ACCESS_KEY=""
#export S3_SECRET_KEY=""

#export GITEA_APP_NAME=${OSH_SITE}
#export GITEA_ADMIN_PASSWORD=""
#export GITEA_ADMIN_EMAIL=administrator@${DOMAIN}

#export NEXUS_ADMIN_PASSWORD=""
